:root{
  --clr-light-grey: rgb(211, 217, 220);
  --clr-primary: #f85220;
  --clr-text: #484848;
}
body{
  font-family: 'Montserrat', sans-serif;
}

.btn {
  padding: 0.4rem 1rem;
  font-weight: 500;
  color: var(--clr-primary);
  cursor: pointer;
  outline: none;
  box-shadow: 0px 0px 0px 1px var(--clr-primary);
  border-radius: 3px;
  width: fit-content;
}



/* width */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #48504f9c;
  border-radius: 2px;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #9b9a9a;
}